.App {
  font-family: var(--font-family-open-sans);
}

.App-section-title{
  margin: 94px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title{
  font-family: var(--font-family-open-sans);
  font-size: var(--users-title-font-size);
  font-weight: var(--users--font-weight);
  color: var(--color-users-title);
}

.App-button-create-new-user{
    width: 227px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--users-button-font-weight);
}

.App-create-new-user-plus{
    font-family: var(--font-family-open-sans);
    font-size: calc(var( --users-button-font-size) * 1.5);
}

.App-create-new-user-text{
    font-family: var(--font-family-roboto);
    font-size: var( --users-button-font-size);
}
