.form{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;

}

.uf-button-add-new-user{
    width: 355px;
    height: 45px;
    font-family: var(--font-family-roboto);
    font-size: var(--new-users-button-font-size);
    font-weight: var(--new-users-button-font-weight);
    color: var(--new-users-button-font-color);
    background-color: var(--new-users-button-bg);
    margin-bottom: 45px;
}

.uf-button-add-new-user:hover{
    cursor: pointer;
    transition: 0.2s ease all;
    width: 357px;
    height: 46px;
}

.input-container{
    margin: 16px 0;
}

.field{
    display: flex;
    color: var(--color-user-field);
    font-family: var(--font-family-roboto);
    font-size: var(--new-users-field-font-size);
    font-weight: var(--new-users-field-font-weight)
}

.placeholder{
    display: flex;
    text-align: center;
    border: 1px solid var(--color-place-holder-border-color);
    background-color: var(--color-place-holder-bg-color);
    height: 40px;
    width: 355px;
    border-radius: 6px;
    color: var(--color-info-color);
}
.info{
    background-color: inherit;
    color: inherit;
    width: inherit;
    position: relative;
    z-index: 1;
}

.uf-user-delete{
    margin: 14px 0 28px 0;
}